@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
     font-family: 'Roboto', sans-serif;
     background-color: #16181c;
     color:#b1bac5;
     overflow-x: hidden;
}

.mod-title{
     font-weight: bold;
     justify-self: start;
     align-self: start;
     color:#edf9fb;
     font-size: 2em;
}
.mod-desc{
     font-weight: 500;
     justify-self: start;
     align-self: end;
     grid-area: 2 / 1;
}
.mod{
     background-color: #26292f;
     border-radius: 1.5em;
     padding: 1vw;
     width: 98%;
     height: 2fr;
     display: grid;
     margin-top: 0.5vw;
     margin: 0.5vw;
}
.mod-container{
     /*display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr ;
     gap: 1.5vw;
     padding: 1vw;*/
     
}
.mod-open{
     justify-self: end;
     align-self: end;
     background-color: #48d870;
     border: 0;
     width: 9vw;
     height: 5vh;
     grid-area: 2 / 2;
     border-radius: 1.5em;
     font-family: 'Roboto', sans-serif;
     padding: 0.1vw;
     font-size: 1vw;
     font-weight: 500;
     transition-duration: 200ms;
}
.mod-open:hover{
     background-color: #3db85f;
}